{
  "resources":[
    {
      "path":"assets/",
      "resourceType":"resource"
    },
    {
      "path":"gui/",
      "resourceType":"gui"
    }
  ],
  "defaultConfig":{
    "buildType":"develop",
    "api":"CoreEngine",
    "libraryDir":"bigHuy/"
  },
  "buildDirs":[
    {
      "targetSource":"core/littleHuy.js",
      "dir":"core/dev/"
    }
  ],
  "compile":[
    {
      "path":"core/littleHuy.js",
      "sourceType":"mod"
    },
    {
      "path":"core/launch.js",
      "sourceType":"launcher"
    }
  ],
  "nativeDirs":[],
  "javaDirs":[]
}